.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
}

.brand {
  color: var(--gradient);
  font-size: 20px;
  font-weight: 600;
}

.brand a {
  color: var(--first-gradient);
}

.nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.nav a {
  color: var(--main-txt-color);
  transition: var(--transition);
}

.nav a:hover {
  color: white;
}

.auth a {
  padding: 10px 20px;
  background: var(--first-gradient);
  color: white;
  border-radius: 3px;
}

.hovered {
  position: absolute;
  top: 80px;
  left: 0;
}

.challenges {
  display: none;
}